// tell nextflow what files to run if I run $ nextflow run [github url]
manifest {
    name            = 'funghub/PFAS_project'
    description     = 'Pipeline for PFAS data trimming and QC'
    author          = 'Lawrence Fung'
    // mainScript      = 'code.nf'  // This tells Nextflow which file to run
    // mainScript      = 'code_acc.nf'  // This tells Nextflow which file to run

    // TEST STAR vs Bowtie
    // mainScript      = 'code_acc_TEST_star.nf' 
    // mainScript      = 'code_acc_TEST_bowtie.nf' 
    mainScript      = 'code_acc_bowtie.nf'
    nextflowVersion = '!>=23.04.0'
}

params {
    results = "nf_output-logs"
    input_dir  = "/scratch/home/lfung/PFAS_Data_NF/PRJNA1137368"
    output_dir = "results"
}

process{

    errorStrategy = 'retry'
    maxRetries = 2


    // Default for all processes (acts as a fallback)
    cpus = 4
    memory = 8.GB
    time = 1.h  // MUST PUT TIME OR ELSE NOT RUN

    //  Process specific limits globally regardless of profile

    // These processes specific to code_acc.nf, so uncomment when running that file
    withName: retrieve_fastq {
        cpus = 8
        memory = 16.GB
        time = 8.h  
    }
    withName: fastqc_pretrim {
        cpus = 4
        memory = 8.GB
        time = 1.h 
        maxForks = 10   // must put maxForks or conda env issues
    }
    withName: MULTIQC_pretrim {
        cpus = 4
        memory = 32.GB
        time = 1.h  
    }

    withName: FASTP {
        cpus = 2
        memory = 8.GB
        time = 2.h  // MUST PUT TIME OR ELSE NOT RUN
    }  
    withName: FASTQC {
        cpus = 4
        memory = 16.GB
        time = 1.h 
        maxForks = 10   // must put maxForks or conda env issues
    }
    withName: MULTIQC {
        cpus = 4
        memory = 32.GB
        time = 4.h  
    }

    withName: samtools_index {
        cpus = 1
        memory = 4.GB
        time = 1.h
        maxForks = 10
    }

    withName: MULTIQC_raw_flagstat {
    cpus = 4
    memory = 32.GB
    time = 1.h  
    }

    withName: MULTIQC_markdups_picard {
        cpus = 4
        memory = 32.GB
        time = 1.h  
    }

    withName: feature_counts_raw {
        cpus = 8
        memory = 32.GB
        time = 6.h  
    }

    withName: feature_counts_markdups {
        cpus = 8
        memory = 32.GB
        time = 6.h  
    }
}

profiles{
    spartan_hpc{  // to debug run nextflow config -profile spartan_hpc
    // run with nextflow run [file.nf] -profile spartan_hpc
    // nextflow run multiqc.nf -profile spartan_hpc
        process{
            executor = 'slurm'
            queue = 'nodes' // default for all processes
        
            errorStrategy = 'retry'
            maxRetries = 2

            //  Process specific limits globally specific to profile

            withName: RNABowtie_index {
            cpus = 4
            memory = 40.GB
            time = 2.h  
            queue = 'nodes'
            }

            withName: RNABowtie {
            cpus = 28
            memory = 60.GB
            time = 8.h  
            queue = 'nodes'
            maxForks = 15
            }

            withName: picard_mark_duplicates {
            // beforeScript = 'source /scratch/home/lfung/miniconda3/etc/profile.d/conda.sh && conda activate picard_env'
            // afterScript = 'conda deactivate'
            cpus = 4
            memory = 40.GB
            time = 8.h  
            queue = 'nodes'
            maxForks = 13
            }
        }

        // Conda configs outside of process
        conda {
            enabled = true // run conda in nf code
            cacheDir = "${System.getenv('HOME')}/.nextflow/conda"
        }
    }
}

trace {
    enabled = true
    file = "${params.results}/pipeline_info/trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss,peak_rss'
}

timeline {
    enabled = true
    file = "${params.results}/pipeline_info/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.results}/pipeline_info/report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.results}/pipeline_info/dag.svg"
    overwrite = true
}
